@media only screen and (max-width: 575px) {
    .container {
        padding: 0 24px;
    }
}

@media only screen and (min-width: 576px) {
    .container {
        padding: 0 40px;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        padding: 0 48px;
    }
}

@media only screen and (min-width: 1050px) {
    .container {
        padding: 0 64px;
        max-width: 1280px;
        margin: auto;
    }
}