.chiots {
    text-align: center;
    .price {
        text-align: left;
        border-radius: 15px;
        border: 2px solid var(--brun);
        padding: 0 1em;
        background: var(--beige);
        box-shadow: 0 0 6px var(--shadow);
    }
}

h2 {
    text-align: center;
    font-size: 2em;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border: 1px solid var(--brun);
    border-radius: 15px;
    box-shadow: 0 0 6px var(--shadow);
    a {
        padding: 0.4em;
        font-size: 2em;
        width: 100%;
    }
}

@media only screen and (max-width: 575px) {
    .contact {
        a {
            width: 100%;
            font-size: 1em;
        }
    }
}