.contact {
    text-align: center;
    iframe {
        width: 100%;
        margin: 1em 0;
        height: 500px;
    }
    .link {
        width: 100%;
        text-decoration: underline;
    }
    img {
        max-width: 100%;
    }
}