.colors {
    h1 {
        text-align: center;
    }
    h2 {
        text-align: left;
        text-decoration: underline;
    }
    .legend {
        background: var(--beige);
        border-radius: 1em;
        padding: 1em;
        box-shadow: 0 0 6px var(--shadow);
    }
    .line {
        display: flex;
        max-width: 100%;
    }
    .icon {
        margin: 1em;
        text-align: center;
        width: fit-content;
        p {
            margin: 0;
        }
    }
}