.allnews {
    h1 {
        font-size: 40px;
        text-align: center;
    }
    section {
        border-top: 1px solid var(--gray);
        margin-bottom: 17.6px;
    }
    .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    img {
        max-width: 100%;
        margin: 5px 0;
    }
    ul {
        counter-reset: list-item;
        display: block;
        list-style-type: disc;
        padding-left: 40px;
        li {
            display: list-item;
        }
    }
}