.card {
    background: white;
    width: 30%;
    text-align: center;
    padding: 5px;
    margin: 5px 0;
    img {
        width: 100%;
    }
    div {
        display: flex;
        text-align: center;
        margin: 0 25px;
        justify-content: center;
    }
    .icon {
        width: 24px;
        margin-left: 8px;
    }
}