@media only screen and (max-width: 575px) {
    .navbar {
        padding: 8px 0;
    }
    header {
        padding: 12px 0;
        line-height: 24.8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbarIcon {
        font-size: 7vw;
        img {
            display: none;
        }
    }
    .deskmenu {
        display: none;
    }
    .btnnavclose,
    .mobilenav {
        display: none;
        ul {
            line-height: 24.8px;
            list-style: none;
        }
        li {
            padding: 8px 0;
            img {
                margin: 0 5px -6px 0;
            }
        }
    }
    button {
        background: none;
        border: none;
    }
}

@media only screen and (min-width: 576px) {
    .navbar {
        padding: 8px 0;
    }
    header {
        padding: 12px 0;
        line-height: 24.8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbarIcon {
        font-size: 7vw;
        img {
            display: none;
        }
    }
    ul {
        display: block;
        line-height: 24.8px;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            margin: 0 0.25rem;
            a {
                padding: 0.5rem 0.75rem;
            }
        }
    }
    .btnnavclose,
    .btnnavopen,
    .mobilenav {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .navbar {
        padding: 12px 0;
        .navbarIcon {
            font-size: 39px;
        }
    }
    header {
        padding: 12px 0;
    }
}

@media only screen and (min-width: 1050px) {
    .navbar {
        padding: 16px 0;
        header {
            padding: 12px 0;
            line-height: 24.8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .navbarIcon {
            font-size: 39px;
            img {
                height: 45px;
                margin-right: 10px;
            }
        }
        ul {
            display: block;
            line-height: 24.8px;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                margin: 0 0.25rem;
                a {
                    padding: 0.5rem 0.75rem;
                }
            }
        }
    }
}