.card {
    background-color: var(--beige);
    text-align: center;
    width: 500px;
    height: auto;
    border: 1px solid black;
    .mainpic {
        background-color: var(--brun);
    }
    div {
        p {
            margin: 1em;
            text-align: left;
        }
    }
}