.card {
    background-color: var(--beige);
    text-align: center;
    width: 500px;
    height: 600px;
    border: 1px solid black;
    .mainpic {
        background-color: red;
    }
    div {
        h4 {}
        p {}
    }
}