@font-face {
    font-family: "RaglanSans";
    font-style: normal;
    src: url("../../assets/fonts/RaglanSans-Regular.woff2") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "SpaceMono";
    font-style: normal;
    src: url("../../assets/fonts/SpaceMono-Regular.woff2") format("truetype");
    font-display: swap;
}

:root {
    --beige: #eae8e4;
    --gray: #373c42;
    --green: #4f8680;
    --brun: #88512c;
    --purple: #85729b;
}

body {
    font-family: "RaglanSans";
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: var(--beige);
    background-image: url("../images/jadeletters.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
    font-family: "RaglanSans";
}

a {
    text-decoration: none;
    color: var(--gray);
}